<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - domshyra</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About me</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="AboutMeDropdown">
                        <a class="dropdown-item" href="@Url.Action("AboutMe")#about-me">About me</a>
                        <a class="dropdown-item" href="@Url.Action("AboutMe")#education">Education</a>
                        <a class="dropdown-item" href="@Url.Action("AboutMe")#work-experience">Work experience</a>
                    </div>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="ProjectsDropdown">
                        <a class="dropdown-item" href="@Url.Action("Projects")#projects">Projects</a>
                        <a class="dropdown-item" href="@Url.Action("Projects")#urcs">URCS</a>
                        <a class="dropdown-item" href="@Url.Action("Projects")#loan-monitoring">Loan Monitoring</a>
                        <a class="dropdown-item" href="@Url.Action("Projects")#po-tracking">PO Tracker</a>
                        <a class="dropdown-item" href="@Url.Action("Projects")#corpool">Corpool</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Intrests</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="IntrestsDropdown">
                        <a class="dropdown-item" href="@Url.Action("Intrests")#intrests">Intrests</a>
                        <a class="dropdown-item" href="@Url.Action("Intrests")#hobbies">Hobbies</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skills</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="SkillsDropdown">
                        <a class="dropdown-item" href="@Url.Action("Skills")#skills">Skills</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://docs.google.com/document/d/1oJxWjIQ_XCleTdJ7TdPlkLsLV6jr1B8h6BGWKzhayFI/edit?usp=sharing" target="_blank" rel="noopener" aria-label="Resume"
                       data-toggle="tooltip" data-placement="bottom" title="View my résumé">
                        <i class="far fa-file-word social-media"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://github.com/domshyra" target="_blank" rel="noopener" aria-label="GitHub"
                       data-toggle="tooltip" data-placement="bottom" title="View my GitHub">
                        <i class="fa fa-github social-media"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-2" href="https://www.linkedin.com/in/domshyra/" target="_blank" rel="noopener" aria-label="LinkedIn"
                       data-toggle="tooltip" data-placement="bottom" title="View my LinkedIn">
                        <i class="fa fa-linkedin-square social-media"></i>
                    </a>
                </li>
            </ul>
            <a class="btn btn-outline-primary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="mailto:domshyra@gmail.com?subject=Contacting you from your website">Contact</a>
        </div>
    </header>
    <div class="container body-content my-3 py-3">
        @RenderBody()
    </div>
    <div class="container-fluid mt-1 pt-2 border-top border-light">
        <footer>
            <p>&copy; @DateTime.Now.Year - dominic schira</p>
        </footer>
    </div>
</body>
</html>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>