@model domshyra.Models.SkillsModel
@{
    ViewData["Title"] = "Technical skills";
}

<div>
    <section class="jumbotron text-center bg-light">
        <div class="container">
            <h1 class="jumbotron-heading">Skills</h1>
            <p class="lead text-muted">
                A list technical skills.
            </p>
        </div>
    </section>
    <h2 class="mt-2 pt-2" id="skills">
        Skills
    </h2>
    <div class="row pt-2">
        <div class="col-12">
            <table class="table table-borderless table-sm">
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BaseProgrammingYears years">HTML</txt></td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BaseProgrammingYears years">Javascript</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BaseProgrammingYears years">CCS</txt></td>
                </tr>
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BaseProgrammingYears years">UI/UX design</txt></td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BaseProgrammingYears years">Photoshop</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">Entity framework</txt></td>
                </tr>
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BaseProgrammingYears years">Unix</txt></td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="">Problem solving</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BootstrapYears years">Bootstrap</txt></td>
                </tr>
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="">Communications skills</td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.PSUYears years">Open source software development</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">Devextreme</txt></td>
                </tr>
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.BaseProgrammingYears years">Git</txt></td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.PSUYears years">MVC design pattern</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.PSUYears years">Object-oriented paradigm</txt></td>
                </tr>
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.PSUYears years">Visual studio/ TFS</txt></td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">ASP. Net Core</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.PSUYears years">REST APIs</txt></td>
                </tr>
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.PSUYears years">Web Design</txt></td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">Microsoft SQL Server</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">Full Stack Development</txt></td>
                </tr>
                <tr>
                    <td> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">Data Analytics</txt></td>
                    <td class="text-center"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">Data Visualization</txt></td>
                    <td class="text-right"> <txt data-toggle="tooltip" data-placement="bottom" title="@Model.CurrieAndBrownYears years">Key Metrics</txt></td>
                </tr>
            </table>
        </div>
    </div>
</div>